body {
    margin: 0;
    padding: 0;
    font-family: "Verdana", sans-serif;
}

header {
    z-index: 1;
    position: fixed;
    background: #03045E;
    padding: 20px;
    width: calc(100% - 0%);
    top: 0;
    height: 30px;
}

.brand-name h3 {
    color: #fff;
    margin: 0;
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: 900;
}

.logout-area span {
    float: right;
    margin-top: -20px;
    margin-right: 40px;
    font-size: 1rem;
    font-weight: 600;
    color: #fff;    
}

.logout-button {
    float: right;
    padding: 10px;
    background: #0077B6;
    text-decoration: none;
    margin-top: -30px;
    margin-right: 40px;
    border-radius: 2px;
    font-size: 0.9rem;
    font-weight: 600;
    color: #fff;    
}

.logout-button:hover {
    background: #023E8A;
}

nav {
    z-index: 1;
    top: 0;
    background: #023E8A;
    margin-top: 70px;
    padding-top: 70px;
    position: fixed;
    left: 0;
    width: 250px;
    height: calc(100% - 9%);
    
}

nav a {
    color: #fff;
    display: block;
    align-items: right;
    width: 100%;
    line-height: 60px;
    text-decoration: none;
    padding-left: 40px;
    box-sizing: border-box;
    transition: 0.5s;
    transition-property: background;
}

nav a:hover {
    background: #0077B6;
}

nav i {
    padding-right: 10px;
}

section {
    width:  (100% - 250px);
    margin-top: 60px;
    padding: 20px;
    margin-left: 250px;
    background-image: url("../img/background/dashboard_background.png");
    height: 86vh;  
    color: black;
    padding-top: 50px;
}

section .content {
    background: #fff;
    opacity: 0.8;
    padding: 15px;
    margin-bottom: 10px;
    font-size: 14px;
    height: 80vh;
    border-radius: 5px;
    overflow: auto;
}

section .content header {
    display: inline-block;
    width: 100%;
}
 
.section-name {
    color: #03045E;
    margin-top: -16px;
    margin-left: 10px;
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: 900;
    float: left;
}

.add-item-button {
    float: right;
    padding: 10px;
    background: #0077B6;
    text-decoration: none;
    margin: 10px;
    border-radius: 2px;
    font-size: 15px;
    font-weight: 600;
    color: #fff;   
}

.add-item-button:hover {
    background: #023E8A;
}

section .content-items {
    clear:both;
}

.card {
    background-color: #ADE8F4;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
}

.item-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
    grid-column-gap: 20px;
    grid-row-gap: 20px
}

.card .product-name{
    font-size: 1.2rem;
    font-weight: bolder;
    margin: 5px;
    margin-bottom: 10px;
    color: #023E8A;
}

.card img {
    max-width: 100%;
    border-radius: 5px;
    height: 150px;
}

.card .price {
    margin: 5px;
    font-weight: bold;
    color: #023E8A;
}

.add-item-form {
    margin: 2rem auto;
    max-width: 25%;
    background-color: #90E0EF;
    margin: 2rem auto;
    border: 2px solid;
    padding: 2rem;
  }
  
.add-item-form label {
    display: block;
    padding: 1rem 0 .25rem;
    text-transform: capitalize;
    color: #03045E;
    font-weight: bold;
}
  
.add-item-form input {
    display: block;
    width: 100%;
    border: 2px solid;
    padding: .5rem;
    border-radius: 5px;
    background-color: #FFF;
}
  
#add-item-button {
    border: 0;
    background: #0077B6;
    padding: .5rem;
    color: #FFF;
    margin: 1rem auto;
    width: auto;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: bold;
}

#add-item-button:hover {
    background: #023E8A;
}

.message-prompt {
    margin-top: 15%;
    text-align: center;
    color: #03045E;
}

section .receipt-items {
    width: 45%;
    float: left;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
}


section .receipt-orders {
    width: 45%;
    float: right;
}

#add-to-receipt {
    
}